.entry {
    padding: 25px 5%;
    display: block;
    transition: background 0.3s, color 0.3s;
    border-bottom: 1px solid black;
    position: relative;
}

/* Using the clearfix for IE8 and up,
 * see https://css-tricks.com/snippets/css/clear-fix/ */
.entry:after {
    content: "";
    display: table;
    clear: both;
}

.entry:hover {
    background: #7f7f7f;
    color: white;
}

.entry h1 {
    transition: margin 1s;
}

.entry:hover h1 {
    margin-left: 20px;
}

.entry .entry-thumb-container {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    float: left;
    border: 1px solid black;
}

.entry-description {
    margin-top: 10px;
}

.entry-upload-date {
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal {
    background: rgba(100, 100, 100, 0.91);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -198px;
    margin-left: -375px;
}

/* hide the mobile mock images for desktop */
img.medium {
    display: none;
    visibility: hidden;
}

img.medium, img.large {
    max-width: 100%;
}

/* We only use a single query selector
 * to give the text some breathing room
 * on mobile. */
@media (max-width: 750px) {
    .entry {
        margin: 25px 0;
    }
    img.medium {
        visibility: visible;
        display: inline;
    }
    img.large {
        display: none;
        visibility: hidden;
    }
}
