.entry {
    padding: 25px 5%;
    display: block;
    transition: color 0.00s, background 0.5s;
    border-bottom: 1px solid black;
    position: relative;
}

.entry:after {
    content: "";
    display: block;
    clear: both;
}

.entry .entry-thumb-container {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    float: left;
    border: 1px solid black;
}

.entry:hover {
    background: #7f7f7f;
    color: white;
}

.entry-description {
    margin-top: 10px;
}

.entry-upload-date {
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal {
    background: rgba(100, 100, 100, 0.91);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -198px;
    margin-left: -375px;
}

@media (max-width: 750px) {
    .entry {
        margin: 25px 0;
    }

    .entry iframe {
        width: 320px;
        height: 180px;
        margin-left: -160px;
        margin-top: -90px;
    }
}
